@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
  
  font-family: 'Ubuntu', sans-serif;
}

.Landing-Page{
  background: white url("assets/images/4bg.png") no-repeat scroll center;
  background-size: cover;
  height: 100vh;
  color:whitesmoke;
}

.wrapper{
  background-color: rgba(0,0,0,0.5);
  height: 100%;
}

.heading5{
  font-size: 45px;
  color:yellow;
  
}

 .table tbody tr td{
   font-weight: bold;
 }